<div class="Container">
  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
            <h1 class="SectionHeader__Heading Heading u-h1">OUR PHILOSOPHY </h1>

    </div>
  </header>

  <div class="PageContent PageContent--narrow Rte">
    {{ page.content }}
<h2 style="text-align:left"><b>Soil Health</b></h2>
<img src="https://cdn.shopify.com/s/files/1/0681/5789/9061/files/Soil_Health.jpg?v=1669535015">
<h4 style="text-align:center;font-weight:700;"> SOIL IS THE SOUL OF OUR MOTHERLAND  </h4>
<h4 style="text-align:center">Soil is the foundation that retains our motherland's identity & preciousness</h4>
<ul>
<li>We strive to nurture the soil using natural bio-compost manure & eliminate its toxicity completely.</li>
<li>We aim to bring back the lost nutritiousness & productivity that Indian soil has had decades before over-exploitation.</li>
<li>We humans have taken endlessly from mother earth & the only way to give back is by preserving & restoring our soil's wholesomeness.</li>
</ul>
<p>Longterm Organic Farming practices maintain & improve soil productivity, cleaner groundwater, mitigate greenhouse effect and global warming by building more soil carbon. It preserves soil health, encourage biodiversity, maintain an insulated environment on earth and thus turns a barren land into a home. Healthy soils are essential for resilient crop production and supporting our ecosystem. Organically managed soils also tend to have higher water-holding capacity, porosity, and aggregate stability than conventionally managed soils, which can lead to yield advantages in extreme weather conditions such as droughts and floods, meaning that organic may fare better as our planet continues to experience climate change.</p>
   <h2 style="text-align:left"><b>Environment Health</b></h2>
 <img src="https://cdn.shopify.com/s/files/1/0681/5789/9061/files/Environment_Health.jpg?v=1669535040">
<h4 style="text-align:center;font-weight:700;">  ENVIRONMENT LINKS HUMAN HEALTH & WELL-BEING INTIMATELY  </h4>
<h4 style="text-align:center">Life emerges from the environment as it encapsulates all things vital & necessary</h4>
<ul>
<li>We prioritize on saving our environment by striving to fight against climate change, loss of biodiversity & land degradation .
</li>
<li>We commit to human well-being by avoiding interference with the natural ecosystem cycles of our environment.
</li>
<li>We respect and admire your support in choosing to let us serve you & join us as a team towards environmental stewardship!
</li>
</ul>
<p>We believe in 'Reduce', 'Reuse', and 'Recycle'. The parcel boxes have been recycled from waste, reducing the synthetic wastes to zero. As environmentalists, we also strive to reduce the packaging material to minimum possible by ensuring smooth handling and safekeeping of the parcels by our logistics partner. As a matter of fact, a recent study suggests that organic crops and organic dairying use 35% and 74% lesser energy, respectively than their conventionally grown counterparts.</p>

    <h2 style="text-align:left"><b>Healthy Indian</b></h2>
<img src="https://cdn.shopify.com/s/files/1/0681/5789/9061/files/Healthy_Indian-11.jpg?v=1680605535">
<h4 style="text-align:center;font-weight:700;">THE GREATEST INVESTMENT IN LIFE IS THE ONE IN HEALTH </h4>
<h4 style="text-align:center">No feeling is greater than the feeling of care & concern that bonds Indians together</h4>
<ul>
<li>As responsible Indians, we care for health and well-being of our fellow Indians as it's our primary concern, especially after the pandemic.</li>
<li>Our moral values and ethics stand as a pillar in aiming towards the health of our fellow countrymen.</li>
<li>Healthy eating keeps the heart beating! If a bug doesn't bite anything artificial, why should you! Live healthy, Go Organic. 
</li>
</ul>
<p>Usage of indigenous manures or 'desi khaad' not only promotes soil health but also the overall health of humans. Natural organic mulch breaks down & adds organic material back to soil, thus preserving its productivity & leading to healthy & proficient crop yield. Decades of farming malpractices including chemical fertilisers and pesticides have rendered soil toxic. Organic practices indeed counter such toxicity & helps human bodies to be able to absorb the actual nutrients of the food. And when food compensates for every nutrient & mineral deficiency that we lack, what's the need to retort to synthetic food supplements !</p>
<h2 style="text-align:left"><b>Farmer Conscious</b></h2>
<img src="https://cdn.shopify.com/s/files/1/0681/5789/9061/files/Farmer_Concious.jpg?v=1669535177">
<h4 style="text-align:center;font-weight:700;">FARMERS ARE'NT JUST THE BACKBONE BUT THE COMPLETE ESSENCE OF A COUNTRY</h4>
<h4 style="text-align:center">Farmers give their blood, sweat & tears to grow the food so we don't sleep on an empty stomach.</h4>
<ul>
<li>We express our gratitude & dedicate this platform to Indian farmers who work relentlessly day & night.
</li>
<li>We believe expanding solely in organic sector to help Indian farmers with greater opportunities and a fair share of the price.
</li>
<li>Our upcoming 'Straight From the Farm' venture aims at providing a fair pay to Indian farmers & the respect and honour that they deserve.
</li>
</ul>
<p>The plight of the farmers in India has been miserable since years. We strive to ensure that their financial interests are nurtured ethically & morally. Coming soon is our 'Straight from the Farm' venture, which would feature all the non-branded desi & quality organic produce to ensure them a respectable wage, keeping their encouragement alive. This would also support local farmers to a great extent.</p>
 <h2 style="text-align:left"><b>Quality Assurance</b></h2>
<img src="https://cdn.shopify.com/s/files/1/0681/5789/9061/files/Quality_Assurance.jpg?v=1669535230">
<h4 style="text-align:center;font-weight:700;">QUALITY TO A PRODUCT IS WHAT CHARACTER IS TO A HUMAN </h4>
<h4 style="text-align:center">If one compromises on the quality of a product, all it would end up in is a bunch of expensive mistakes! </h4>
<ul>
<li>At 'The Organic Treasure', we have zero tolerance for such mistakes.</li>
<li>We strictly adhere to 100% pure, authentic, genuine & high quality products that in no way compromise to consumer's expectations.</li>
<li>We believe that expensive quality work doesn't cost more - it pays! We have stringent rules and policies which ensure that the products get in delivered to your doorstep are 100% organic.</li>
</ul>
<p>We, at 'The Organic Treasure', are committed to provide you with 100% authentic, pure & genuine Indian organic products without any compromise in quality & brand value. We have strict policies to ensure the quality & purity of the organic product that gets delivered to you. All the featured products are certified organic & are true to value.</p>
 <h2 style="text-align:left"><b>Traditions & Values</b></h2>
<img src="https://cdn.shopify.com/s/files/1/0681/5789/9061/files/Tradition_Values--11.jpg?v=1680605535">
<h4 style="text-align:center;font-weight:700;">OUR CULTURE & TRADITION ARE THE FOUNDATION UPON WHICH WE BUILD OUR IDENTITY</h4>
<h4 style="text-align:center">Traditions help us define who we are by providing us the faith & trust that our ancestors lived by. </h4>
<ul>
<li>We at 'The Organic Treasure' believe in nurturing the needs of an individual by featuring products made using ancient & traditional methods for 100% purity.
</li>
<li>Those little rituals passed down from generations has helped shape The Organic Treasure family by developing a sense of unity, warmth & compassion.</li>
<li>Each order that you place is packed with utmost love & care and is sent to you with the hope of meeting your expectations and leaving a smile on your face!
</li>
</ul>
<p>Soil is nurtured by using manure made from cow dung and non-toxic bio-kitchen waste (vegetable and food waste) instead of toxic N,P,K chemical fertilisers, so as to preserve soil goodness & enhance its productivity. Organic mulching is practiced to release nutrients in the soil & maintain its temperature for a healthy crop yield.

 

The very 'Elixir of Life', i.e. organic desi ghee is prepared using traditional 'bilona' method from freely grazed native breed cow milk. Ghee prepared using such technique contains high amount of DHA, MUFA, vitamins A,E & K, which are a saviour for gut, bones & joint health.

 

Organic spices are still stoneground in a mortar & pestle and organic oils are cold-pressed at a very low rpm in order to retain their nutritional value so you can reap maximum benefits out of them.

 

Organic Pulses and Grains are grown indigenously using bio-manures and are in unwashed & unpolished form so as to avoid any loss of nutrients that occur due to artificial polishing and in turn leave a white cast of harmful chemicals all over their surface.

 

Organic skincare & haircare consists of natural oils, botanical herbs & plant extracts that are found naturally in the wild and provide the nourishment that our skin & hair need in order to radiate healthiness. </p> </div>
</div>
            
