<div class="Container">
  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
      <h1 class="SectionHeader__Heading Heading u-h1">{{ page.title }}</h1>
    </div>
  </header>

  <div class="PageContent Rte">
    {{ page.content }}
 <div>   
<img src="https://cdn.shopify.com/s/files/1/0681/5789/9061/files/Pic-1_2.jpg?v=1680599769" style="float:right; border-radius:6px; height:240px;margin-top:0px ">
<b style="font-size:24px;">N</b>o sooner than when we realised our home grown food was our secret saviour, we discovered that it wasn't just keeping our health in check but also curing our decade long illnesses.

Our beloved Ninni (75 yrs) was diagnosed with Type-II diabetes nearly 17 yrs back. Having served for nearly 30 yrs in the city hospital as a nurse under various known wellness doctors and not having any family history of diabetes, this news shook her to the core. Though late, she started making changes in her diet, only to find a negligible difference in her glycemic profile. Not knowing that all her food ingredients were highly toxic, chemical ridden & unethically sourced only made her hopes of recovering a far fetched dream until she switched to a 100% natural & organic diet. To her surprise, she started noticing improved digestion, more energy, no sick days within a few weeks, & the same got reflected in her glycemic profile within a few months!
 </div>
    <div><img src="https://cdn.shopify.com/s/files/1/0681/5789/9061/files/Pic-2_1.jpg?v=1680600000" style="float:left; border-radius:6px; height:240px;margin-top:0px;padding:8px;">

<p style="margin-top:50px; justify-content:center;"><b style="font-size:24px;">O</b>ur beloved daughter Akanksha (29 yrs) was diagnosed with a full-blown Hypothyroidism with TSH level 13.7 in 2021. This came to her as a really unwelcomed surprise since she always adhered to healthy food & lifestyle. There was no one in the family to have any improper Thyroid functioning history. Though this harsh truth felt unacceptable at the beginning, she came to terms with it & started allopathic medicines. She felt that these medicines could only balance out her TSH profile and not cure her permanently. Without losing hope, she started using homeopathic treatment along with the allopathic & switched to a complete organic & ethical diet. It did wonders & within an year, her TSH profile was back to normal! Needless to say, she has quit her medicines permanently & only relies on food as her medicine (& adheres to periodic TSH tests). 
</p>
    </div>
   <div style="margin-top:80px;"><img src="https://cdn.shopify.com/s/files/1/0681/5789/9061/files/Pic-3_1.jpg?v=1680600209"  style="float:right; border-radius:6px; height:280px; margin-top:30px">

<p style="margin-top:50px; justify-content:left;"><b style="font-size:24px;">S</b>uch personal experiences made us urge everyone we knew to switch to organic & persuade them to start with some organic khapli (emmer wheat) flour & black wheat flour from the local organic farmers of villages like Dehit, Guna & Bara. Khapli flour is known for its curative properties for treating diabetes & cardiovascular diseases. Black wheat improves glycemic control & inflammatory profile in patients with Type-II diabetes. They were surprised to see their bodies responding so beautifully to organic food intake. They further persuaded others in their family & this domino effect cleared all the organic stock of the local farmers within a few days, who once used to end up with an either completely rotten yield or incurring huge losses by selling it at half the original price due to limited buyers. 
They approached us for a helping hand in order to expand & scale up their produce. We guided a few of them on forming their own local organic brand, but it still had a very limited approach. The only thing we could think of then was to bootstrap an online organic platform for them so as to have a pan India approach.

We believe that God has truly created us with miraculous self-healing bodies. All we need to do is love it by keeping what we feed it in check. Natural & organic food is known to have cured diseases like Alzheimer, gut infections, kidney chronic diseases & various cancers like postmenopausal breast cancer, lymphoma, prostrate cancer, skin cancer & colorectal cancer. It's no less than a miracle that just switching to the right diet can make a remarkable difference in our lives as well as the lives of our organic Indian farmers & the nutrient profile of our heroic Indian soil. 
    </p></div> 
  </div>
</div>